Repository kayvane1/brave-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, yamllint, bandit

black:
  name: Run Black
  entry: poetry run black
  language: system
  stages:
  - commit

isort:
  name: Run Isort
  entry: poetry run isort
  language: system
  stages:
  - commit

flake8:
  name: Run Flake8
  entry: poetry run pflake8
  language: system
  stages:
  - commit

yamllint:
  name: Run Yamllint
  entry: poetry run yamllint
  language: system
  stages:
  - commit

bandit:
  name: Run Bandit
  entry: poetry run bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - --severity-level
  - all
  - --confidence-level
  - all
  - --quiet
  - --format
  - custom
  stages:
  - commit

initial commit
  README.md
  poetry.lock
  pyproject.toml
  src/apo/examples/sarcasm.py
  src/apo/gradient_descent.py
  src/apo/openai_utils.py
  src/apo/prompt_template.py
  src/apo/prompts/beam_search/user.json
  src/apo/prompts/example_base_prompts/sarcasm/user.json
  src/apo/prompts/gradient_descent/edit_prompt_w_gradient/user.json
  src/apo/prompts/gradient_descent/generate_gradients/user.json
  src/brave/__init__.py
  tests/unit/test_sarcasm_example.py
Due: black, isort, flake8, bandit

feat: brave and async brave search built
  README.md
  poetry.lock
  pyproject.toml
  src/brave/__init__.py
  src/brave/async_brave.py
  src/brave/client.py
  src/brave/exceptions.py
  src/brave/models.py
  src/brave/sync.py
  test_api.ipynb
Due: black, isort, flake8, bandit

feat: brave and async brave search built
  tests/unit/test_client.py
Due: black, isort, flake8, bandit

chore: remove notebook
  test_api.ipynb
Due: none

docs: update overview for Goggles
  README.md
Due: none

feat: update pydantic models
  src/brave/async_brave.py
  src/brave/client.py
  src/brave/models.py
  src/brave/types/__init__.py
  src/brave/types/language.py
  src/brave/types/meta_url.py
  src/brave/types/not_implemented.py
  src/brave/types/profile.py
  src/brave/types/query.py
  src/brave/types/result.py
  src/brave/types/search.py
  src/brave/types/search_result.py
  src/brave/types/thumbnail.py
  src/brave/types/web_search_response.py
Due: black, isort, flake8, bandit

fix: pydantic Optionals & defaults
  src/brave/types/not_implemented.py
  src/brave/types/query.py
  src/brave/types/result.py
  src/brave/types/search_result.py
  src/brave/types/thumbnail.py
  src/brave/types/web_search_response.py
Due: black, isort, flake8, bandit

feat: update pydantic models for extra endpoints, add object properties
  README.md
  poetry.lock
  pyproject.toml
  src/brave/client.py
  src/brave/types/__init__.py
  src/brave/types/image/__init__.py
  src/brave/types/image/image_query.py
  src/brave/types/image/image_result.py
  src/brave/types/image/image_search_response.py
  src/brave/types/image/properties.py
  src/brave/types/not_implemented.py
  src/brave/types/shared/__init__.py
  src/brave/types/shared/meta_url.py
  src/brave/types/shared/thumbnail.py
  src/brave/types/web/answer.py
  src/brave/types/web/article.py
  src/brave/types/web/book.py
  src/brave/types/web/contact.py
  src/brave/types/web/data_provider.py
  src/brave/types/web/faq.py
  src/brave/types/web/language.py
  src/brave/types/web/location_result.py
  src/brave/types/web/movie_data.py
  src/brave/types/web/offer.py
  src/brave/types/web/opening_hours.py
  src/brave/types/web/person.py
  src/brave/types/web/picture_results.py
  src/brave/types/web/postal_address.py
  src/brave/types/web/price.py
  src/brave/types/web/product.py
  src/brave/types/web/profile.py
  src/brave/types/web/query.py
  src/brave/types/web/rating.py
  src/brave/types/web/result.py
  src/brave/types/web/reviews.py
  src/brave/types/web/search.py
  src/brave/types/web/search_result.py
  src/brave/types/web/unit.py
  src/brave/types/web/web_search_response.py
  src/brave/types/web_search_response.py
Due: black, isort, flake8, bandit

chore: update readme
  README.md
Due: none

feat: add news, videos, infobox placeholder
  src/brave/types/shared/thumbnail.py
  src/brave/types/web/button_result.py
  src/brave/types/web/deep_result.py
  src/brave/types/web/discussions.py
  src/brave/types/web/faq.py
  src/brave/types/web/image.py
  src/brave/types/web/info_box.py
  src/brave/types/web/knowledge_graph.py
  src/brave/types/web/mixed_response.py
  src/brave/types/web/news.py
  src/brave/types/web/result.py
  src/brave/types/web/url.py
  src/brave/types/web/videos.py
  src/brave/types/web/web_search_response.py
Due: black, isort, flake8, bandit

chore: easier accessibility to web, video and news results
  README.md
  src/brave/types/web/web_search_response.py
Due: black, isort, flake8, bandit

feat: add goggles
  src/brave/goggles/README.md
  src/brave/goggles/sample_goggle.goggle
  src/brave/goggles/thought_leadership.goggle
Due: none

feat: add goggles dir
  pyproject.toml
  src/brave/goggles/__init__.py
  src/brave/goggles/directory.py
  src/brave/goggles/sample_goggle.goggle
  src/brave/goggles/thought_leadership.goggle
Due: black, isort, flake8, bandit

docs: update docs for in-built goggles
  README.md
Due: none

feat: add gha
  .github/stale.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Due: yamllint

fix: personal access token
  .github/workflows/pull-request.yaml
Due: yamllint

feat: add pypi
  README.md
  pyproject.toml
Due: none

docs: readme
  README.md
Due: none

fix: release
  .github/actions/release/release.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  README.md
Due: yamllint

fix: goggles format
  README.md
  src/brave/goggles/thought_leadership.goggle
Due: none

fix: reduce importance of pdfs in goggle
  src/brave/goggles/thought_leadership.goggle
Due: none

fix: pydantic referencing resolution
  src/brave/types/web/videos.py
  src/brave/types/web/web_search_response.py
Due: black, isort, flake8, bandit

chore: release
  pyproject.toml
Due: none

feat: remove python 3.11 dependency
  pyproject.toml
Due: none

chore: version number:
  pyproject.toml
Due: none

feat: add tests for client, add asyncio pytest support
  poetry.lock
  pyproject.toml
  tests/test_responses/blue_tack_minimal.json
  tests/unit/test_async_brave.py
  tests/unit/test_client.py
Due: black, isort, flake8, bandit

feat: add async brave tests
  src/brave/exceptions.py
  src/brave/sync.py
  tests/unit/test_async_brave.py
Due: black, isort, flake8, bandit

feat: add sync tests
  poetry.lock
  pyproject.toml
  src/brave/goggles/README.md
  tests/unit/test_sync_brave.py
Due: black, isort, flake8, bandit

chore: bump version for deployment
  pyproject.toml
Due: none

fix: pypi reference
  pyproject.toml
Due: none

chore: pypi has a similar package called brave-api, reverting back to brave-search
  pyproject.toml
Due: none

feat: publish new version to pypi
  pyproject.toml
Due: none

feat: add license
  LICENSE.MD
  pyproject.toml
Due: none

Minor edit to make web search code compatible with Python 3.9
  src/brave/types/web/search_result.py
Due: black, isort, flake8, bandit

feat: fix validation errors, allow users to output raw JSON back
  README.md
  poetry.lock
  src/brave/client.py
  src/brave/types/not_implemented.py
  src/brave/types/shared/thumbnail.py
  src/brave/types/web/book.py
  src/brave/types/web/news.py
  src/brave/types/web/web_search_response.py
Due: black, isort, flake8, bandit

docs: update readme
  README.md
Due: none

chore: update version for pypi release
  pyproject.toml
Due: none

chore: bump version
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  bandit: any of: \.py$
